---
title: Speaking
---

{% import "components/subpages-list.njk" as subpageList %}
{{ subpageList.list("Speaking", sitemap)}}


<p>I've spoken at several local meetups on technical and non-technical topics both in-person and online. During 2018, I spoke at my first conference, and in 2019 gave a keynote at Indie Web Summit. I love speaking and presenting as it gives me an opportunity to share all my favorite things I have learnt with others in my community.</p>

{% import "components/mixed-content-list.njk" as contentList %}
{{ contentList.list(collections.presentation, "presentation") }} 