<div id="fact-list">
  <ul>
    <li>Name: {{jordan.name.first}} {{jordan.name.last}}</li>
    <li>Preferred Pronouns: {{jordan.pronouns}}</li>
    <li>Location: {{jordan.location.city}}, {{jordan.location.state}}</li>
    <li>Current Role: {{resume.experience[0].title}} at {{resume.experience[0].organization}}</li>
  </ul>
  <h3>Find Me Online:</h3>
  <ul>
    {% for contact in jordan.contact %}
    <li>{{contact.site}}: <a href={{contact.url}}>{{contact.username}}</a></li>
    {% endfor %}
  </ul>
</div>