<div class="h-card">
  <img src={{me.photos.profile}} class="u-photo" />

  <div>
    <p class="p-name sm-title">
      <span class="p-given-name">{{me.name.first}}</span>
      <span class="p-family-name">{{me.name.last}}</span>
    </p>

    <p>
      <i class="fa-solid fa-computer"></i>
      <a href={{me.homepage.url}} class="u-url u-uid">
        {{me.homepage.readable}}
      </a>
    </p>

    <p>
      <i class="fa-solid fa-venus-mars"></i>
      <span class="u-pronoun">{{me.pronouns}}</span>
    </p>

    <p>
      <i class="fa-solid fa-briefcase"></i> 
      <span class="p-job-title">{{resume.experience[0].title}}</span>
      at
      {% if resume.experience[0].url %}
        <a href={{ resume.experience[0].url }} target="_blank" rel="noopener noreferrer">
          <span class="p-org">{{resume.experience[0].organization}}</span>
        </a>
      {% else %}
        <span class="p-org">{{resume.experience[0].organization}}</span>
      {% endif %}
    </p>
    
    <p>
      <i class="fa-solid fa-handshake-angle"></i>
      <span class="p-org">Director</span>
      at
      <a href="https://www.womenwhocode.com/boulder-denver/about" target="_blank" rel="noopener noreferrer">
        <span class="p-job-title">Women Who Code Boulder/Denver</span>
      </a>
    </p>
  </div>
  
  <div class="elsewhere-online">
    <p class="sm-title">Find Me Online:</p>
    <ul class="no-bullets-list">

      {% for item in me.social %}
      <li>
        <i class="icon {{item.icon}}" ></i> 
        <a href={{item.url}} rel="me" target="_blank" rel="noopener noreferrer">{{item.username}}</a>
      </li>
      {% endfor %}

      {% for item in me.otherplaces %}
      <li>
        <i class="icon {{item.icon}}" ></i> 
        <a href={{item.url}} rel="me" target="_blank" rel="noopener noreferrer">{{item.username}}</a>
      </li>
      {% endfor %}

    </ul>
  </div>
</div>