<div class="h-card h-card-byline">
  <img src={{jordan.photos.profile}} class="u-photo" />
  <div class="content">
    <a href={{jordan.homepage.url}} class="u-url u-uid">
    <span class="p-name">
      <span class="p-given-name">{{jordan.name.first}}</span>
      <span class="p-family-name">{{jordan.name.last}}</span>
    </span> 
    </a>
    (<span class="u-pronoun">{{jordan.pronouns}}</span>)
    is a 
    <span class="p-job-title">{{resume.experience[0].title}}</span>
    in 
    <span class="p-locality">{{jordan.location.city}}</span>, 
    <span class="p-region">{{jordan.location.state}}</span>
  </div>
</div>