<div class="h-card">
  <img src={{me.photos.profile}} class="u-photo" />
  <div>
    <p class="p-name">
      <span class="p-given-name">{{me.name.first}}</span>
      <span class="p-family-name">{{me.name.last}}</span>
    </p>
    <p>Website: <a href={{me.homepage.url}} class="u-url u-uid">{{me.homepage.readable}}</a></p>
    <p>Preferred Pronouns:
      <span class="p-gender-identity p-sex">{{me.gender}}</span>
      <span class="u-pronoun">{{me.pronouns}}</span>
    </p>
    <p>Current Role: 
      <span class="p-job-title">{{resume.experience[0].title}}</span>
      at
      <span class="p-org">{{resume.experience[0].organization}}</span>
    </p>
    <p>Volunteer Role: 
      <span class="p-org">Director</span>
      at
      <span class="p-job-title">Women Who Code Boulder/Denver</span>
    </p>
  </div>
  <div class="elsewhere-online">
    <p>Find Me Online:</p>
    <ul>
      {% for item in me.social %}
      <li>{{item.site}}: <a href={{item.url}} rel="me">{{item.username}}</a></li>
      {% endfor %}

      {% for item in me.otherplaces %}
      <li>{{item.site}}: <a href={{item.url}}>{{item.username}}</a></li>
      {% endfor %}

    </ul>
  </div>
</div>