{% macro tagList(tags, exclude) %}
<div class="tags-block">
  {% for tag in tags %}
    {%- if tag != exclude -%}
      <a class="tag" href="/talks/topic/{{ tag | slugify }}/">
        {{ tag }}{% if loop.revindex != 1 %},{% endif %}
      </a>
    {% endif %}
  {% endfor %}
</div>
{% endmacro %}
 