# dependencies installed by npm
node_modules

# build artefacts
public

# MacOS Things
.DS_Store

# VS Code things
.vscode/


# TEMP Hiding
src/_data/tools.json
src/content/thoughts/michelle.md
src/content/projects/library-reading.md