<div id="now" class="now">
  <h2>Now</h2>
  <p>Things I am interested in currently</p>
  <p>Last Updated: {{ me.now.updated }}</p>

  <br />
  
  {% import "components/about/now/reading.njk" as readingNow %}
  {{ readingNow.details("false", me.now.reading)}}

  <details>
    <summary>
      <span class="now-title">Playing:</span> {{ me.now.playing[0].title }}
    </summary>
    <div>
      Also... <br />
      {% for game in me.now.playing %} 
        {% if loop.index != 1 %}
          {{ game.title }}<br />
        {% endif %}
      {% endfor %}
    </div>
  </details>

  <details>
    <summary>
      <span class="now-title">Tech-ing:</span> {{ me.now.teching[0] }}
      </summary>
    <div>
      Also... <br />
      {% for tech in me.now.teching %} 
        {% if loop.index != 1 %}
          {{ tech }}<br />
        {% endif %}
      {% endfor %}
    </div>
  </details>

  <details>
    <summary>
      <span class="now-title">Crafting:</span> {{ me.now.crafting.title }}
    </summary>
    <p>{{ me.now.crafting.description }}</p>
  </details>
</div>