{% macro card(role) %}
<div class="experience-card">
  <h3 class="title">
    {{ role.title }} at 
    {{ role.organization }}
  </h3>
  <span class="dates">{{ role.dates.start }} - {{ role.dates.end }}</span>


  <ul class="no-bullets-list tech-stack">
    {% for item in role.stack %}
      <li>{{item}}{% if loop.revindex != 1 %},{% endif %}</li>
    {% endfor %}
  </ul>

  <ul>
    {% for bullet in role.bullets %}
      <li>{{bullet}}</li>
    {% endfor %}
  </ul>

  

</div>
{% endmacro %}