.card {
  border: 2px solid var(--color-main-2);
  padding: 0.25em;
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  grid-template-rows: subgrid;
  grid-row: span 4;
}

.card .card-header {
  border-bottom: 1px solid var(--color-main-2);
  display: flex;
  align-items: flex-end;
  justify-content: center;
  text-align: center;
}
.card .card-header h3 {
  margin: 0;
}

.card .tags-block {
  font-size: 0.85em;
}
.card .card-actions {
  display: flex;
  justify-content: center;
}
