.h-card {
  --image-size: 100px;
  --image-border-width: 5px;
  padding: 0.5em;
  display: grid;
  grid-template-areas:
    "img content"
    ". online";
  grid-template-columns: var(--image-size) 1fr;
  gap: 0.5em;
}

@media (min-width: 700px) {
  .h-card {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.h-card-byline {
  --image-size: 50px;
  --image-border-width: 3px;
}

.h-card img {
  width: var(--image-size);
  height: var(--image-size);
  object-fit: cover;
  box-sizing: border-box;
  border-radius: 100%;
  border: var(--image-border-width) solid var(--color-accent);
  grid-area: img;
}

.h-card-byline img {
  width: var(--image-size);
  height: var(--image-size);
}

.h-card .content {
  grid-area: content;
}

.h-card .elsewhere-online {
  grid-area: online;
}
.h-card p {
  margin: 0;
}

.h-card .p-name {
  font-weight: bold;
  font-size: 1.1em;
}
