{% macro row(book) %}
<tr class="book-row">

  <td class="opened title">
    <span>
    {{ book.title }}
    </span>
  </td>

  <td class="closed author">
    <span>
      {% for author in book.author %}
        {{ author.last }}, {{ author.first }}
      {% endfor %}
    </span>
  </td>

  <td class="closed series">
    <span>
      {{ book.series }} | {{ book.number }}
    </span>
  </td>

  <td class="closed pages">
    <span>
      {{ book.pages }}
    </span>
  </td>

  <td class="closed genre">
    <span>
      {% for genre in book.genre %}
        {{ genre }}{% if loop.revindex != 1 %},{% endif %} 
      {% endfor %}
    </span>
  </td>

  <td class="closed read">
    <span>
      {{ book.dates[0].end }}
    </span>
  </td>
</tr>
{% endmacro %}