---
title: Books
permalink: /collections/books/
---

<article class="now">
  <h2>Currently Reading:</h2>
  {% import "components/about/now/reading.njk" as readingNow %}
  {{ readingNow.details("true", me.now.reading)}}
</article>

<h2>All Books</h2>
<p>Building a table list of all the books I have / am reading / have read.</p>

{% import "components/collections/book-row.njk" as bookRow %}
<table id="books-table">
  <thead>
    <tr>
      <td class="title">Book</td>
      <td class="author">Author</td>
    </tr>
  </thead>

  {% for book in books %} 
    {{ bookRow.row(book) }}
  {% endfor %} 

</table>

<script>
  const bookTable = document.getElementById('books-table');
  const rows = bookTable.querySelectorAll('tr')

  function showDetailsBtn(btnThis) {
    for (let i = 1; i < rows.length; i++) {
      rows[i].classList.remove('clicked-row')
    }
    let grandparent = btnThis.parentNode.parentNode
    grandparent.classList.add('clicked-row')
  }


</script>