---
layout: layouts/base.njk 
---
<article id="talk-details">
  <header>
    {% import "components/tag-list.njk" as tagList %}
    {{ tagList.tagList(tags, "presentation") }}

    <p>Creation Date: {{ originalDate }}</p>
    <p>Updated Date: {{ updatedDate }}</p>
  </header>

  <p>{{ summary }}</p>


  <h2>Slides:</h2>
  <a href="{{slidesURL}}"  target="_blank" rel="noopener noreferrer">
    <img src="{{slidesThumbnail}}" />
  </a>


  {{content | safe}}
</article>