---
layout: layouts/base.njk 
---
<article id="talk-details">
  {% import "components/tag-list.njk" as tagList %}
  {{ tagList.tagList(tags, "presentation") }}

  <p>
    {{summary}}
  </p>
</article>