---
title: mJordan Codes
layout: layouts/base.njk
permalink: /
---
{% import "components/Card.njk" as card %}

<h2>Things I Do:</h2>
{% for thing in thingsido %}
  {{ card.card(thing.title, thing.description) }}
{% endfor %}


{% include "components/FactsList.njk" %}

<!-- ## Cat of the Day

<img src="{{ catpic }}" /> -->
