---
title: Projects and Experiments
---
<h2>Projects</h2>
{% import "components/mixed-content-list.njk" as contentList %}
{{ contentList.list(collections.project, "project") }} 

<h2>Experiments</h2>
{% import "components/mixed-content-list.njk" as contentList %}
{{ contentList.list(collections.experiment, "experiment") }} 