---
pagination:
  data: collections
  alias: tag
  size: 1
  filter:
    - presentation
    - all
permalink: "/talks/topic/{{ tag | slugify }}/"
eleventyComputed: 
  title: Talks About {{ tag }}
---
<a href="/speaking">Back to All Talks</a>

{% import "components/speaking/talk-list.njk" as talkList %}
{{ talkList.list(collections[ tag ], "presentation") }} 

