{% macro list(tagCollection, excludeTagFromList) %}
<div id="talks">
  {% import "components/speaking/talk-card.njk" as talkCard %}
  {% for talk in tagCollection %}
    {% if talk.data.tags.includes("presentation") %}
      {{ talkCard.card(talk.data, excludeTagFromList) }}
    {% endif %}
  {% endfor %}
</div>

{% endmacro %}