{% macro card(talk, excludeTagFromList) %}
<div class="talk-card">
  <div class="card-header">
    <h3 class="title">
      {{ talk.title }} 
    </h3>
  </div>

  {% import "components/tag-list.njk" as tagList %}
  {{ tagList.tagList(talk.tags, excludeTagFromList) }}
  
  <p>{{ talk.summary }}</p>
  
  <a href="{{ talk.pageSlug }}" class="view-slides-btn btn" />View Slides</a>
</div>
{% endmacro %}