{% macro card(talk) %}
<div class="talk-card">
  <div class="card-header">
    <h3 class="title">
      {{ talk.title }} 
    </h3>
  </div>

  <div class="tags">
    {% for tag in talk.tags %}
      <span class="tag">
        {{ tag }}{% if loop.revindex != 1 %},{% endif %}
      </span>
    {% endfor %}
  </div>
  
  <p>{{ talk.description }}</p>
  
  <a href={{ talk.slidesURL }} />View Slides</a>
</div>
{% endmacro %}