.no-bullets-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Things that visually might be titles, but not important enough to give an <h#> to */
.sm-title {
  font-size: var(--font-sm-title);
  font-weight: bold;
}

.md-title {
  font-size: var(--font-md-title);
  font-weight: bold;
}

.lg-title {
  font-size: var(--font-lg-title);
  font-weight: bold;
}

.hide {
  display: none;
}

.show {
  display: block;
}
