<header id="page-header">
  <nav>
    <ul class="no-bullets-list">
    <li>
      <a href="/">
        <span class="md-title logo">mJordan Codes</span>
      </a>
    </li>
    {% for item in sitemap %}
      {% if item.url != "/" %}
        <li>
          <a href={{ item.url }}>{{ item.display }}</a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
  </nav>
</header>