#page-header {
  margin-bottom: 25px;
}

#page-header ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

#page-header ul li {
  padding: 10px;
}

#page-header ul li:first-of-type {
  width: 100%;
  text-align: center;
  padding: 0;
}

#page-header a:hover {
  text-decoration: underline;
}

@media (min-width: 800px) {
  #page-header ul {
    flex-wrap: no-wrap;
    justify-content: space-evenly;
    font-size: 1.2rem;
  }
  #page-header ul li:first-of-type {
    width: initial;
  }
}
