#page-header ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
  font-size: 1.2rem;
}

#page-header ul li {
  padding: 10px;
}

#page-header a:hover {
  text-decoration: underline;
}

@media (min-width: 800px) {
  #page-header ul {
    flex-direction: row;
    justify-content: space-evenly;
  }
}
