#books-table {
  border-collapse: collapse;
  width: 100%;
}
#books-table thead {
  background-color: var(--color-main-0);
  font-weight: bold;
}

#books-table td {
  border: 1px solid var(--color-black);
  padding: 0 3px;
}

#books-table .book-details-table,
#books-table tr.clicked-row td.title button span.icon {
  display: none;
}

#books-table tr.clicked-row .book-details-table {
  display: initial;
}

#books-table .book-details-table {
  border-collapse: collapse;
}

#books-table .book-details-table td {
  border: none;
}
